<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    .box{
        width: 300px;
        height: 400px;
        display: inline-block;
        vertical-align: top;
    }  
    
    </style>
</head>
<body>
    <div class="box">
    <h2>Registration</h2>
    {% if messages %}
    
    <ul>
        {% for message in messages %}
	        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="/process" method="post">
        {% csrf_token %}
        <p>First Name <input name="fn" type="text"></p>
        <p>Last Name <input name="ln" type="text"></p>
        <p>Email <input name="em" type="text"></p>
        <p>Password <input name="pa" type="text"></p>
        <p>Confirm pw <input name="cp" type="text"></p>
        <button type="submit">Register</button>
    </form>
    </div>

    <div class="box">
    <h2>Login</h3>
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    <form action="/process/login" method="post">
        {% csrf_token %}
        <p>Email: <input name="mail_e" type="text"></p>
        <p>Password: <input name="pass_word" type="text"></p>
        <button type="submit">log In</button>
    </form>
    </div>
    




</body>
</html>